@media screen and (min-width: 300px) {





/* Basics */
.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder *,
.mapboxgl-ctrl-geocoder *:after,
.mapboxgl-ctrl-geocoder *:before {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }
.mapboxgl-ctrl-geocoder {
  font:15px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position:relative;
  background-color:white;
  width:33.3333%;
  min-width:240px;
  max-width:360px;
  z-index:1;
  border-radius:3px;
  }

.mapboxgl-ctrl-geocoder input[type='text'] {
  font-size:12px;
  width:100%;
  border:0;
  background-color:transparent;
  height:40px;
  margin:0;
  color:rgba(0,0,0,.5);
  padding:10px 10px 10px 40px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  }
  .mapboxgl-ctrl-geocoder input:focus {
    color:rgba(0,0,0,.75);
    outline:0;
    box-shadow:none;
    outline:thin dotted\8;
    }

.mapboxgl-ctrl-geocoder .geocoder-icon-search {
  position:absolute;
  top:10px;
  left:10px;
  }
.mapboxgl-ctrl-geocoder button {
  padding:0;
  margin:0;
  background-color:#fff;
  border:none;
  cursor:pointer;
  }
.mapboxgl-ctrl-geocoder .geocoder-pin-right * {
  background-color:#fff;
  z-index:2;
  position:absolute;
  right:10px;
  top:10px;
  display:none;
  }

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder ul {
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  }

/* Suggestions */
.mapboxgl-ctrl-geocoder ul {
  background-color:#fff;
  border-radius: 0 0 3px 3px;
  left:0;
  list-style:none;
  margin:0;
  padding:0;
  position:absolute;
  width:100%;
  top:100%;
  z-index:1000;
  overflow:hidden;
  font-size:12px;
  }
  .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl-geocoder ul,
  .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-geocoder ul {
    top:auto;
    bottom:100%;
    }
  .mapboxgl-ctrl-geocoder ul > li > a {
    clear:both;
    cursor:default;
    display:block;
    padding:5px 10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    border-bottom:1px solid rgba(0,0,0,0.1);
    color:#404040;
    }
    .mapboxgl-ctrl-geocoder ul > li:last-child > a { border-bottom:none; }
    .mapboxgl-ctrl-geocoder ul > li > a:hover {
      color:#202020;
      background-color:#f3f3f3;
      text-decoration:none;
      cursor:pointer;
      }
    .mapboxgl-ctrl-geocoder ul > li.active > a {
      color:#202020;
      background-color:#e3e3e3;
      text-decoration:none;
      cursor:pointer;
      }

@-webkit-keyframes rotate { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
   @-moz-keyframes rotate { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
    @-ms-keyframes rotate { from { -ms-transform: rotate(0deg); } to { -ms-transform: rotate(360deg); } }
        @keyframes rotate { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

/* icons */
.geocoder-icon {
  display:inline-block;
  width:20px;
  height:20px;
  vertical-align:middle;
  speak:none;
  background-repeat:no-repeat;
  }
  .geocoder-icon-search {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmVyc2lvbj0iMS4xIj4NCiAgPHBhdGggZD0iTTguNSA0QzYgNCA0IDYgNCA4LjUgNCAxMSA2IDEzIDguNSAxMyA5LjQgMTMgMTAuMiAxMi44IDEwLjggMTIuM0wxMC45IDEyLjMgMTQuMyAxNS43QzE0LjUgMTUuOSAxNC43IDE2IDE1IDE2IDE1LjYgMTYgMTYgMTUuNiAxNiAxNSAxNiAxNC43IDE1LjkgMTQuNSAxNS43IDE0LjNMMTIuMyAxMC45IDEyLjMgMTAuOEMxMi44IDEwLjIgMTMgOS40IDEzIDguNSAxMyA2IDExIDQgOC41IDR6TTguNSA1LjVDMTAuMiA1LjUgMTEuNSA2LjggMTEuNSA4LjUgMTEuNSAxMC4yIDEwLjIgMTEuNSA4LjUgMTEuNSA2LjggMTEuNSA1LjUgMTAuMiA1LjUgOC41IDUuNSA2LjggNi44IDUuNSA4LjUgNS41eiIgZmlsbD0iIzAwMCIvPg0KPC9zdmc+);
    }
  .geocoder-icon-close {
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgdmVyc2lvbj0iMS4xIiBoZWlnaHQ9IjIwIiB3aWR0aD0iMjAiPg0KICA8cGF0aCBkPSJtNSA1IDAgMS41IDMuNSAzLjUtMy41IDMuNSAwIDEuNSAxLjUgMCAzLjUtMy41IDMuNSAzLjUgMS41IDAgMC0xLjUtMy41LTMuNSAzLjUtMy41IDAtMS41LTEuNSAwLTMuNSAzLjUtMy41LTMuNS0xLjUgMHoiIGZpbGw9IiMwMDAiLz4NCjwvc3ZnPg==);
    }
  .geocoder-icon-loading {
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiPjxwYXRoIGQ9Im0xMCAyIDAgMy4zYzIuNiAwIDQuNyAyLjEgNC43IDQuN2wzLjMgMGMwLTQuNC0zLjYtOC04LTh6IiBmaWxsPSIjMDAwIi8+PHBhdGggZD0iTTEwIDJDNi44IDIgMy43IDQuMSAyLjYgNy4xIDEuNCAxMCAyLjEgMTMuNiA0LjUgMTUuOGMyLjQgMi40IDYuNCAyLjkgOS40IDEuMiAyLjUtMS40IDQuMi00LjIgNC4yLTctMS4xIDAtMi4yIDAtMy4zIDAgMC4xIDIuMi0xLjcgNC4zLTMuOCA0LjZDOC43IDE1IDYuNCAxMy44IDUuNyAxMS43IDQuOCA5LjcgNS42IDcuMSA3LjYgNiA4LjMgNS42IDkuMSA1LjMgMTAgNS4zYzAtMS4xIDAtMi4yIDAtMy4zeiIgc3R5bGU9ImZpbGw6IzAwMDtvcGFjaXR5OjAuMiIvPjwvc3ZnPg==);
    -webkit-animation: rotate 400ms linear infinite;
       -moz-animation: rotate 400ms linear infinite;
        -ms-animation: rotate 400ms linear infinite;
            animation: rotate 400ms linear infinite;
    }





  .header-text{
    font-size: 60px;
  }

.treesdiv{
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: -999;
}


  .input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #505050;
    box-sizing: border-box;
    font-family: 'arial';
    font-size: 40px;
    height: 50px;
    text-align: center;
    margin: 0px 20px 40px 20px;
    padding: 10px 0px;
    position: relative;
    top: 50%;
    width: 200px;

    &:focus {
      outline: none !important;
    }
  }


  .textbox {
    text-align: center;

  }

  .textbox-padding{
    text-align: center;
    height: 140px;
    font-size:  24px;
    font-family:  'Roboto', sans-serif;;
  }

  .map-container{
    margin: auto;
    padding-top: 60px;
    width: 90%;
    height: 90vh;
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    /* left: 100px; */
    /* top: 100px; */
    z-index: 999;
    /* height: 100%; */
  }


  .text-container{

    text-align: center;
    margin: auto;
    padding-top: 20px;

    /* display: flex; */
    flex-flow: row nowrap;
    /* position: absolute; */
    /* left: 100px; */
    /* top: 100px; */
    z-index: 999;
    /* height: 100%; */
  }





  .textbox-padding-header{
    text-align: center;
    height: 140px;
    font-size:  24px;
    font-family: 'Roboto', sans-serif;
    position:relative;

  }
  .textboxrunning {
    padding-top: 20px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center !important;
  }

  .textbox-answer{
    text-align: center;
    display: none;

  }



  .trees-item {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
  }

  .trees-item .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
  }

  .trees-item .item:last-child { border-bottom: none; }

  .trees-item .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
  }

  .trees-item .item .title small { font-weight: 400; }

  .trees-item .item.active .title,
  .trees-item .item .title:hover { color: #8cc63f; }

  .trees-item .item.active {
    background-color: #f8f8f8;
  }


  .heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
  }

  .sidebar {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }


  .container{
    z-index: 265;
    position: absolute !important;
    padding-top: 60px !important;
    width: 100% !important;

  }

  #container {
    width: 100%;
    height: 150px;
    background-color: red;
  }


  #buttons {
    color:white;
    background-color: #FF00FF;
    position:absolute;
    z-index:5;
    text-align: center;
    top:50px;
    width : 100%;
    height : 30px;
  }


  .container-fluid{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    width: 100% !important;
  }



  .icon-font{
    position: absolute !important;
    /* background-color: red; */
    z-index:5;
    padding-top: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #303030;
    position: relative;
    top: -15px;
  }

  .sub-text{
    z-index: 265;
    padding-top: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: 300;
    position: relative;
    top: -15px;

  }

  .sub-text-players{
    /* max-width: 280px; */
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    top: -20px;
    z-index: 222;
  }

  .reset-timer{
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    top: -25px;
  }


  .about{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    z-index: 252;
    top: -30px;
  }

  .sub-text-instructions{
    text-align: center;
    font-family:'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: 800;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: -110px;
  }


  .about-text{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 75px;
  }


  .about-running-text{
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 100px;
    text-decoration: none !important;
  }

  .about-musical-text{
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 110px;
    text-decoration: none !important;
  }

  .about-header-text{
    padding-right: 25%;
    padding-left: 25%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 600;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 100px;
    text-decoration: none !important;

  }

  .about-created-text{
    padding-right: 0%;
    padding-left: 0%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 120px;
    text-decoration: none !important;

  }

  .logo {
    text-align: center;
    width: 15px;
  }


  .body {
    padding: 20px;
    background-color: 'white';
  }

  .button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: #f3f3f3;
    border: none;
  }

  .lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.95);
  }

  .lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
  }

  .lightbox:target {
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
  }


  .button:hover {
    background: lightsalmon;
  }


  .button:hover {
    background: lightsalmon;
  }

  .close {
    font-family:  'Roboto Mono', monospace;
    float: right;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    color: #111;
    text-shadow: 0 1px 0 #fff;
    opacity: .4;
    position: fixed;
    top: 25px;
    right: 20px;
    width: 90px;
    border: 0px solid lightgrey;
    padding: 0px;


  }



}

@media screen and (min-width: 1200px) {

  .container{
    z-index: 265;
    position: absolute !important;
    padding-top: 60px !important;
    width: 100% !important;

  }

  #container {
    width: 100%;
    height: 150px;
    background-color: red;
  }


  #buttons {
    color:white;
    background-color: #FF00FF;
    position:absolute;
    z-index:5;
    text-align: center;
    top:50px;
    width : 100%;
    height : 30px;
  }


  .container-fluid{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    width: 100% !important;
  }



  .icon-font{
    position: absolute !important;
    /* background-color: red; */
    z-index:5;
    padding-top: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #303030;
    position: relative;
    top: -15px;
  }

  .sub-text{
    z-index: 265;
    padding-top: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: 300;
    position: relative;
    top: -15px;

  }

  .sub-text-players{
    /* max-width: 280px; */
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    top: -20px;
    z-index: 222;
  }

  .reset-timer{
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    top: -25px;
  }


  .about{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    z-index: 252;
    top: -30px;
  }

  .sub-text-instructions{
    text-align: center;
    font-family:'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: 800;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: -110px;
  }


  .about-text{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 75px;
  }


  .about-running-text{
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 100px;
    text-decoration: none !important;
  }

  .about-musical-text{
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 110px;
    text-decoration: none !important;
  }

  .about-header-text{
    padding-right: 25%;
    padding-left: 25%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 600;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 100px;
    text-decoration: none !important;

  }

  .about-created-text{
    padding-right: 0%;
    padding-left: 0%;
    text-align: center;
    font-family:  'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 120px;
    text-decoration: none !important;

  }

  .logo {
    text-align: center;
    width: 15px;
  }


  .body {
    padding: 20px;
    background-color: 'white';
  }

  .button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: #f3f3f3;
    border: none;
  }


  .lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
  }


  .button:hover {
    background: #dadada;
  }


  .button:hover {
    background: #dadada;
  }



}
